<a href="https://colab.research.google.com/github/Festuskipkoech/DeepLearning/blob/main/Matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
revenue = np.array([[180, 200, 220], [24,36, 40], [12,18,20]])
expenses=np.array([[80,90,100], [10,16,20], [8,10,10]])

In [3]:
profit = revenue-expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [4]:
# calculate total sales from units and pice per unit using matrix multiplication
price_per_unit=np.array([1000,400,1200])
units=np.array([[30,40,50], [5,10,15], [2,5,7]])

In [5]:
price_per_unit*units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

In [6]:
np.dot(price_per_unit, units)

array([34400, 50000, 64400])

In [7]:
# excersise
revenue=np.array([[200,220,250], [68,79,105], [110, 140,180], [80,85,90]])

In [11]:
ksh=133
to_ksh=revenue * ksh
to_ksh

array([[26600, 29260, 33250],
       [ 9044, 10507, 13965],
       [14630, 18620, 23940],
       [10640, 11305, 11970]])

In [13]:
# flowers prices monthly
flowers=np.array([[50, 60,25], [10,13,5], [40,70,52]])
prices=np.array([[20,30,15]])

In [15]:
total=np.dot(prices,flowers )

In [16]:
total

array([[1900, 2640, 1430]])

In [24]:
total_price=total.sum()
total_price

5970